
<!-- Adding header snippet -->
<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>
   <br>
   <br>
    <div id="tt" class="table">
        <table id="t" class="tender-table">
            <thead>
                <tr class="head">
                    <th>No</th>
                    <th>Details</th>
                    <th>Advertise</th>
                    <th>Closing</th>
                    <th>Document</th>
                    <th>Apply</th>
                </tr>

            </thead>

            <tbody>
            </tbody>
        </table>

    </div>
    <div id="table"></div>
    <!--div align="center">
        <ul class="pagination">
            <li>
                <a href="#">
                    <</a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">10</a></li>
            <li><a href="#">></a></li>
        </ul>
    </div -->
    <div align="center">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="/tenders?page=1">1</a>
            <a href="/tenders?page=2">2</a>
            <a href="/tenders?page=3">3</a>
            <a href="/tenders?page=4">4</a>
            <a href="/tenders?page=5">5</a>
            <a href="/tenders?page=6">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>


    <script type="text/javascript">
    readtenders();
        async function readtenders() {

            if (document.getElementById("t").rows.length > 1) {
                console.log("Data is shown ")
            } else {
                //console.log(document.getElementById("t").rows.length);
                //document.getElementById("t").innerHTML = "";
                try {
                    const result = await fetch("http://localhost:5000/alltenders", {
                        method: "GET"
                    })
                    const todos = await result.json();

                    //loop through rows  
                    var i = 1;
                    todos.forEach(t => {

                        //table from html
                        var table = document.getElementById("t");

                        //create a new row
                        var row = table.insertRow(i);

                        //new cells
                        var no = row.insertCell(0);
                        var detail = row.insertCell(1);
                        var adddate = row.insertCell(2);
                        var closedate = row.insertCell(3);
                        var doc = row.insertCell(4);

                        //button 
                        var acell = row.insertCell(5);

                        // Create a form dynamically 
                        var form = document.createElement("form");
                        form.setAttribute("method", "post");
                        form.setAttribute("action", "/apply");

                        // Create a submit button 
                        var button = document.createElement("button");
                        button.setAttribute("type", "submit");
                        button.setAttribute("value", t.no);
                        button.setAttribute("name", "namet");
                        button.innerHTML = "apply";
                        form.appendChild(button);
                        acell.appendChild(form);

                        // document.getElementsByTagName("body")[0].appendChild(form);


                        //insert form field
                        // var p = document.getElementById("p");

                        //var button = row.insertCell(5);


                        //insert
                        //passing the data
                        no.innerHTML = t.no;
                        detail.innerHTML = t.detail;

                        const advertise_date = t.advertise_date.split("T");
                        const closing_date = t.closing_date.split("T");

                        const aad = advertise_date[0];
                        const ccd = closing_date[0];
                        adddate.innerHTML = aad;
                        closedate.innerHTML = ccd;
                        doc.innerHTML = t.document;

                        //console.log(t.no + "," + t.details + ',' + t.advertise_date + ',' + t.closing_date + "," + t.document);
                        i++;
                    })
                } catch (e) {
                    console.log("Error reading the tenders.")
                }
            }

        }

        async function scraptenders() {
            try {
                await fetch("http://localhost:5000/scraptenders", {
                    method: "GET"
                })


            } catch (e) {
                console.log("Error scraping the tenders.")
            }
        }

        async function activetenders() {
            try {
                const result = await fetch("http://localhost:5000/activetenders", {
                    method: "GET"
                })
                const todos = await result.json();
                //loop through rows  
                var i = 1;
                todos.forEach(t => {

                    //table from html
                    var table = document.getElementById("t");

                    //create a new row
                    var row = table.insertRow(i);

                    //new cells
                    var no = row.insertCell(0);
                    var detail = row.insertCell(1);
                    var adddate = row.insertCell(2);
                    var closedate = row.insertCell(3);
                    var doc = row.insertCell(4);

                    //button 
                    var acell = row.insertCell(5);

                    // Create a form dynamically 
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "/apply");

                    // Create a submit button 
                    var button = document.createElement("button");
                    button.setAttribute("type", "submit");
                    button.setAttribute("value", t.no);
                    button.setAttribute("name", "namet");
                    button.innerHTML = "apply";
                    form.appendChild(button);
                    acell.appendChild(form);

                    //passing the data
                    no.innerHTML = t.no;
                    detail.innerHTML = t.detail;
                    const advertise_date = t.advertise_date.split("T");
                    const closing_date = t.closing_date.split("T");

                    const aad = advertise_date[0];
                    const ccd = closing_date[0];
                    adddate.innerHTML = aad;
                    closedate.innerHTML = ccd;
                    doc.innerHTML = t.document;

                    //console.log(t.no + "," + t.details + ',' + t.advertise_date + ',' + t.closing_date + "," + t.document);
                    i++;
                })
            } catch (e) {
                console.log("Error reading the tenders.")
            }

        }


        async function expiredtenders() {
            try {
                const result = await fetch("http://localhost:5000/expiredtenders", {
                    method: "GET"
                })
                const todos = await result.json();
                if (todos == 0) {
                    var block = document.getElementById("table");
                    block.innerHTML = "<h2>No Records Found!</h2>";


                }
                //loop through rows  
                var i = 1;
                todos.forEach(t => {

                    //table from html
                    var table = document.getElementById("t");

                    //create a new row
                    var row = table.insertRow(i);

                    //new cells
                    var no = row.insertCell(0);
                    var detail = row.insertCell(1);
                    var adddate = row.insertCell(2);
                    var closedate = row.insertCell(3);
                    var doc = row.insertCell(4);

                    //button 
                    var acell = row.insertCell(5);

                    // Create a form dynamically 
                    var form = document.createElement("form");
                    form.setAttribute("method", "post");
                    form.setAttribute("action", "/apply");

                    // Create a submit button 
                    var button = document.createElement("button");
                    button.setAttribute("type", "submit");
                    button.setAttribute("value", t.no);
                    button.setAttribute("name", "namet");
                    button.innerHTML = "apply";
                    form.appendChild(button);
                    acell.appendChild(form);

                    //passing the data
                    no.innerHTML = t.no;
                    detail.innerHTML = t.detail;
                    const advertise_date = t.advertise_date.split("T");
                    const closing_date = t.closing_date.split("T");

                    const aad = advertise_date[0];
                    const ccd = closing_date[0];
                    adddate.innerHTML = aad;
                    closedate.innerHTML = ccd;
                    doc.innerHTML = t.document;

                    //console.log(t.no + "," + t.details + ',' + t.advertise_date + ',' + t.closing_date + "," + t.document);
                    i++;
                })
            } catch (e) {
                var block = document.getElementById("table");
                block.innerHTML = "<h2>No Records Found!</h2>";
                console.log("Error reading the tenders.")
            }

        }
    </script>




</body>

</html>


<!-- Adding footer snippet -->
<%- include('./layout/footer.ejs') %>