*{
    font-family: 'Montserrat', sans-serif;
}


    /*      TABLE CSS        */

.ttable {
    margin-left: 30rem;
    width: 700px;
    min-width: 500px;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}

.tender-table {
    margin: 25px 0;
    font-size: 0.9em;
    width: 700px;
    min-width: 700px;
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #008080;
    text-align: center;
}

th,td {
    text-align: left;
    padding: 6px;
    text-align: center;
}

h1 {
    color: #008080;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
    text-shadow: 0 0 20px lightgray;
}

.tender-table thead tr {
    border-bottom: 1px solid darkgray;
}

.tender-table thead tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tender-table thead tr:last-of-type {
    border-bottom: 2px solid #008080;
}

.tender-table thead tr.active-row {
    background-color: #008080;
    font-weight: bold;
}

.head {
    background-color: #008080;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px solid lightgrey;
}

.btn {
    margin-left: 55rem;
    display: inline;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 300;
    color: white;
    background-color: #008080;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #77cccc;
}