<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: teal;
        }
        
        .progress {
            width: 50%;
            margin: 0 auto;
            margin-top: 20%;
        }
        
        @media only screen and (max-width:924px) {
            .progress {
                width: 70%;
                margin: 0 auto;
                margin-top: 60%;
            }
        }
    </style>
</head>

<body>
    <br>
    <br>