<<<<<<< HEAD

    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/file.js"></script>

<div > 
    <ul class="pagination" style="text-align: center; ">
        <li><a href="#">&laquo;</a></li>
        <li><a href="/tenders?page=1">1</a></li>
        <li><a href="/tenders?page=2">2</a></li>
        <li><a href="/tenders?page=3">3</a></li>
        <li><a href="/tenders?page=4">4</a></li>
        <li><a href="/tenders?page=5">5</a></li>
        <li><a href="/tenders?page=6">6</a></li>
        <li><a href="/tenders?page=7">7</a></li>
        <li><a href="/tenders?page=8">8</a></li>
        <li><a href="/tenders?page=9">9</a></li>
        <li><a href="/tenders?page=10">10</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<footer >
     
    <div class="container-fluid" style="background-color: #4f77a1; margin-top: 40px; color: blanchedalmond; font-weight: 600">
        <hr/>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <img src="/imgs/footer-logo.png" alt="CloudTek" srcset="" class="navbar-brand"
                style="width: 125px; height: auto; padding: 2%; margin: 5%;" />
        </div>

        <div class="col-sm-3 col-xs-3">
            <h5 style="color: white; font-size: 18px;"><strong> ABOUT </strong></h5>
            <ul class="bottomlinks" style="list-style: none">
                <li id="footerbtn">About Us</li>
                <li id="footerbtn">Blog</li>
                <li id="footerbtn">FAQ</li>
                <li id="footerbtn">Login</li>
                <li id="footerbtn">Register</li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
            <h5 style="color: white; font-size: 18px;">
                <strong> USEFUL LINKS </strong>
            </h5>
           
            <ul class="bottomlinks" style="list-style: none; color: blanchedalmond;">
                <li><a id="footerbtn" href="/alltenders" >All Tenders</a> </li>
                <li><a id="footerbtn" href="/activetenders" >Active Tenders</a> </li>
                <li><a id="footerbtn" href="/appliedtenders" >Applied</a> </li>
                <li><a id="footerbtn" href="/expiredtenders" >Expired</a> </li>
            
                
            </ul>
        </div>

        <div class="col-sm-3 col-xs-3">
            <div class="contact">
                <h5 style="color: white; font-size: 18px;">
                    <strong>CONTACT US </strong>
                </h5>
                <a href="" id="footerbtn" > <i class="material-icons"  style="font-size: 20px;">mobile_screen_share</i> +923449999999</a>
                 <br />
            </div>
            
                <i class="contact material-icons" style="font-size: 20px; margin: 3% 3% 3% 0%">mail</i>help@cloudtek.biz
            
            <div>
                <h5 style="color: white; font-size: 18px;">
                    <strong>FOLLOW US</strong>
                </h5>
                <div>
                    <a href="https://www.facebook.com/"><span class="material-icons" id="footerbtn">facebook</span></a>
                    <a href="#"><span class="material-icons" id="footerbtn">public</span> </a>
                    <a href="#"><span class="material-icons" id="footerbtn">language</span></a>
                    <a href="#"><span class="material-icons" id="footerbtn">share</span></a>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h5 style=" color: white; font-size: 13px;">
                <i class="magic-btn">Terms and Conditions</i> |
                <i class="magic-btn">Privacy</i>
                <i style="float: right; margin-right: 140px">
                <i class="material-icons" style="font-size: 15px">copyright</i>2020 PPRA</i>
            </h5>
        </div>

    </div>
</footer>
=======
</div>

<script type="text/javascript" src="/js/materialize.js"></script>
<!-- Jquery for navbar-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div align="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="/tenders?page=1">1</a>
        <a href="/tenders?page=2">2</a>
        <a href="/tenders?page=3">3</a>
        <a href="/tenders?page=4">4</a>
        <a href="/tenders?page=5">5</a>
        <a href="/tenders?page=6">6</a>
        <a href="/tenders?page=7">7</a>
        <a href="/tenders?page=8">8</a>
        <a href="/tenders?page=9">9</a>
        <a href="/tenders?page=10">10</a>
        <a href="#">&raquo;</a>
    </div>
</div>

<br>
<br>
<br>
</body>

</html>
>>>>>>> develop
