</div>

<script type="text/javascript" src="/js/materialize.js"></script>
<!-- Jquery for navbar-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div align="center">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="/tenders?page=1">1</a>
        <a href="/tenders?page=2">2</a>
        <a href="/tenders?page=3">3</a>
        <a href="/tenders?page=4">4</a>
        <a href="/tenders?page=5">5</a>
        <a href="/tenders?page=6">6</a>
        <a href="/tenders?page=7">7</a>
        <a href="/tenders?page=8">8</a>
        <a href="/tenders?page=9">9</a>
        <a href="/tenders?page=10">10</a>
        <a href="#">&raquo;</a>
    </div>
</div>

<br>
<br>
<br>
</body>

</html>