<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<div class="header">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <img src="/imgs/CloudTek_logo.png" alt="CloudTek" srcset="" class="navbar-brand"
            style="width: 125px; height: auto; padding: 2%" />
    </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <ul id="nav-tabs" class="nav nav-tabs navbar-right navbar-nav" action=""
                    style="margin-right: 2%; margin-top: 2%">
            <div class="header-right " id="nav-tabs" >
                <a href="/alltenders" style="text-decoration: none; transition: 0.5s;"> All</a>
                <a href="/activetenders" style="text-decoration: none; transition: 0.5s;"> Active</a>
                <a href="/expiredtenders" style="text-decoration: none; transition: 0.5s;"> Expired</a>
                <a href="/appliedtenders" style="text-decoration: none; transition: 0.5s;"> Applied</a>
                <a href="#Rejectd" style="text-decoration: none; transition: 0.5s;"> Rejected</a>
            </div>
        </div>
    </div>
