
<nav class=" blue darken-3" style="padding:0px 10px; position: fixed;">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Dashboard</a>

        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down ">
            <li><a href="/alltenders">All tenders</a></li>
            <li><a href="/activetenders">Active tenders</a></li>
            <li><a href="/expiredtenders">Expired tenders</a></li>
            <li><a href="/appliedtenders">Applied tenders</a></li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-nav">
    <li><a href="/alltenders">All tenders</a></li>
    <li><a href="/activetenders">Active tenders</a></li>
    <li><a href="/expiredtenders">Expired tenders</a></li>
    <li><a href="/appliedtenders">Applied tenders</a></li>
</ul>

<!-- script>
    $(document).ready(function() {
        $('.sidenav').sidenav();
    });
</script -->